.mdiv{
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	top: 0px;
	left: 0px;
}

.weatherdiv{
	height: 380px;
	width: 340px;
	background: white;
	border-radius: 30px;
	padding: 20px;

}
.heading{
	text-align: center;
	color: royalblue;
	font-family: arial black;
}

.wbtn {
	float: left;
	overflow: hidden;
	padding: 5px;
	background: lightgray;
	border: none;
	padding: px; 
	border-radius: 10px;
	color: royalblue;
	font-family: arial black;
}
.cityfield{
	float: left;
	overflow: hidden;
	margin-top: 12px;
	margin-right: 10px;
	font-size: 18px;
	font-family: arial black;
}

.wimg{
	height: 40px;
	width: 40px;
}
